* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#images {
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

#setImg {
  width: 400px;
}

#details {
  width: 40vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;

  /* background-color: green; */
}

#details > h1 {
  color: rgb(56, 48, 38);
}

#colorPalette {
  width: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px 0px;
}

.btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#pink {
  background-color: #d53f8c;
}

#blue {
  background-color: #3182ce;
}

#yellow {
  background-color: #d69e2e;
}

.uploadDetails > h4 {
  margin-bottom: 5px;
}

.uploadDetails > p {
  font-size: 12px;
  margin-bottom: 10px;
}

#upload {
  width: 270px;
  height: 30px;
  font-weight: 600;
  color: white;
  background-color: #d53f8c;
  border: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo_label {
  /* display: none; */
  cursor: pointer;
}
#logo_label > svg {
  fill: white;
  margin-left: 15px;
}

#loader_UploadLogo {
  display: none;
  width: 28px;
  height: 28px;
  margin-left: 15px;
  fill: #fff;
  animation: rotate-keyframe linear 5s infinite;
}

#logo_input {
  display: none;
  visibility: none;
}
#delete_logo {
  cursor: pointer;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 30px;
}
#loaderSvg {
  display: none;
  width: 150px;
  height: 150px;
  fill: #3182ce;
  animation: rotate-keyframe linear 5s infinite;
}

@keyframes rotate-keyframe {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#umbrellaDiv {
  position: relative;
}

#display_logo > img {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 135px;
  width: 130px;
  height: 30px;
}

@media all and (min-width: 367px) and (max-width: 900px) {
  #main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }

  #images {
    width: 100vw;
  }

  #details {
    width: 60vw;   
  }
}
